h1 {
  color: #000000;
  text-align: left;
  font-size: 40px;
}


.result{
  width: 25%;
  min-width: 250px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}
